/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    TEbayes Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {

    // Input files
    input                      = null
    input_chip                 = null    
    replicate_count            = 4
    
    // Reference files
    genome                     = null
    igenomes_base              = 's3://ngi-igenomes/igenomes/'
    igenomes_ignore            = false
    repeat                     = null
    
    // Optional parameters
    gtf                        = null
    fasta                      = null
    interval                   = 5000
    genelist                   = null

    // Output management
    outdir                     = 'results'
    publish_dir_mode           = 'copy'

    // Debugging and error management
    monochrome_logs            = false
    validate_params            = true

    // Help flag
    help = false
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

profiles {
    docker {
        docker.enabled         = true
        conda.enabled          = false
    }
    
    conda {
        docker.enabled         = false
        conda.enabled          = true
        conda.channels         = ['conda-forge', 'bioconda']
    }

    test {
        includeConfig 'conf/test.config'
        docker.enabled         = true
        conda.enabled          = false
    }
}

// Set default registry for Docker -profile
docker.registry       = 'docker.io'

// Load igenomes.config if required
includeConfig !params.igenomes_ignore ? 'conf/igenomes.config' : 'conf/igenomes_ignored.config'

// Set bash options
process.shell = [
    "bash",
    "-C",         // No clobber - prevent output redirection from overwriting files.
    "-e",         // Exit if a tool returns a non-zero status/exit code
    "-u",         // Treat unset variables and parameters as an error
    "-o",         // Returns the status of the last command to exit..
    "pipefail"    //   ..with a non-zero status or zero if all successfully execute
]

// Disable process selector warnings by default. Use debug profile to enable warnings.
nextflow.enable.configProcessNamesValidation = false

// Log and report files
timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag.html"
}


manifest {
    name        = 'TEffectbayes'
    homePage    = 'https://github.com/nkaan-kutlu/TEffectBayes'
    description = "Multiomic Bayesian Model Analysis Pipeline"
    version     = '1.0.0'
}

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'