/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/
params {
    // Minimal RNA-seq and ChIP-seq samplesheets
    input         = "tests/input/samplesheet.csv"
    input_chip    = "tests/input/samplesheet_chip.csv"

    // Use a test gtf
    genome                     = null
    igenomes_base              = 's3://ngi-igenomes/igenomes/'
    igenomes_ignore            = true
    repeat                     = test/reference/repeats.gtf
    gtf                        = test/reference/genes.gtf
    fasta                      = test/reference/genome.fa
    interval                   = 200
    genelist                   = null

    // Output
    outdir        = "tests/results"
    publish_dir_mode = 'copy'

    // Other
    validate_params = false 
}

process {
    executor = 'local'
    cpus     = 4
    memory   = '20 GB'
    time     = '1h'
}

ocker.enabled = true        
conda.enabled  = false       


